<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Architecture JEE</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Jean-Luc MASSAT</h5>
                <p><strong>Contact : </strong>jean-luc.massat@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN2M07A-Architecture_JEE.pdf" target="blank">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN2M07A-Architecture_JEE.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 6 heures</p>
                <p>Travaux dirigés : 9 heures</p>
                <p>Travaux pratiques : 12 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
                <h5>Descriptif UE : </h5>
                <ul>
                    <li>Architecture n-tiers</li>
                    <li>partie accès aux données (JDBC/JPA)</li>
                    <li>partie métier (Spring, IoC, Composants métier)</li>
                    <li>partie application WEB (JSP/Servlet, Spring MVC,bootstrap)</li>
                </ul>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours, TD, TP disponible à cette adresses : </h4><a href="https://jean-luc-massat.pedaweb.univ-amu.fr/ens/jee/" target="_blank">Site JEE </a>
                
            </section>
        </div>
    </div>
