<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Complexité</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Cecile CAPPONI</h5>
                <p><strong>Contact :</strong> cecile.capponi@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M3-Introduction_a_la_sciences_des_donnees.pdf">https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M3-Introduction_a_la_sciences_des_donnees.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 9 heures</p>
                <p>Travaux dirigés : 9 heures</p>
                <p>Travaux pratiques : 9 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
                <h5>Descriptif UE : </h5>
                <p>A travers trois cas d’utilisation, ce cours introduit la notion d’analyse de données, selon trois points de vue : 
                    le clustering (apprentissage non supervisé, ACP, kmeans, visualisation), <br>la classification (apprentissage supervisé, notion d’erreur et de modèle, 
                    erreur de Bayes, kppv, généralisation et sur-apprentissage), et la régression (notion de causalité, notion d’erreur, protocoles d’évaluation). <br>
                    Sensibilisation aux aspects éthiques (GAFAM). L’objectif est de sensibiliser les étudiants aux techniques de base de l’analyse de données et de l’apprentissage, 
                    avec des liens vers approches probabilistes (Bayes), <br>statistiques, et modes d’évaluation et de visualisation. On partira de données réelles, 
                    on illustrera de fait la difficulté du nettoyage de données en amont de tout le reste.</p>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ol class="liste">
                    <!-- <a href="/src/assets/POC_CM-1.pdf">CM 1</a> -->
                </ol>
                <h4>TD : </h4>
                <h4>TP : </h4>
            </section>
        </div>
    </div>
</section>