<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Environnement et R&D en informatique</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Philippe JEGOU</h5>
                <p><strong>Contact :</strong>philippe.jegou@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51PP1M2-Environnement_et_R_D_en_informatique.pdf" target="blank">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51PP1M2-Environnement_et_R_D_en_informatique.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 6 heures</p>
                <p>Travaux dirigés : 6 heures</p>
                <p>Travaux pratiques : 6 heures</p>
                <p><strong>Nombre de crédit :</strong> 2</p>
                <h5>Descriptif UE : </h5>
                <p>Aucune description pour le moment.</p>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ol class="liste">
                    <!-- <a href="/src/assets/POC_CM-1.pdf">CM 1</a> -->
                </ol>
                <h4>TD : </h4>
                <h4>TP : </h4>
            </section>
        </div>
    </div>
</section>