<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Données post-relationnelles</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Sana SELLAMI / Jean-Luc MASSAT</h5>
                <p><strong>Contact :</strong> sana.sellami@univ-amu.fr / jean-luc.massat@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN2C2-Donnees_post_relationnelles.pdf">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN2C2-Donnees_post_relationnelles.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 9 heures</p>
                <p>Travaux dirigés : 9 heures</p>
                <p>Travaux pratiques : 9 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
                <h5>Descriptif UE : </h5>
                <ul>
                    <li>XML / XPath / XSL / Xquery </li>
                    <li>Json / NoSQL / NewSQL</li>
                </ul>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ol class="liste">
                    <!-- <a href="/src/assets/POC_CM-1.pdf">CM 1</a> -->
                </ol>
                <h4>TD : </h4>
                <h4>TP : </h4>
            </section>
        </div>
    </div>
