a:link{
    text-decoration: none;
    color: rgb(128, 128, 128);
}

a:visited{
    text-decoration: underline;
    color: rgb(128, 128, 128);
}

a:hover{
    color: rgb(128, 128, 128);
    text-decoration: underline;
}

ul{
    text-decoration: none;
}

li{
    text-decoration: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}