<br>
<h1>Mes projets : </h1>
<br>

<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet Génie logiciel</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="https://github.com/FloFloDht/GL-Project_Pac-Man" target="blank"><button type="button" class="btn btn-outline-secondary">Pac-Man</button></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet DPR</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="https://github.com/FloFloDht/Projet-DPR"><button type="button" class="btn btn-outline-secondary">Projet DPR</button></a>
            </div>
        </div>
    </div>
</section>

<br>

<a href="/cours"><button type="button" class="btn btn-outline-secondary">Retour</button></a>