<br>
<h1>Mes projets : </h1>
<br>

<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet Génie logiciel</h5>
                <p class="card-text">Projet de génie logiciel de groupe sur la réalisation d'un moteur de jeu basé sur Pac-Man. </p>
                <a href="https://github.com/FloFloDht/GL-Project_Pac-Man" target="blank"><button type="button" class="btn btn-outline-secondary">GitHub Pac-Man</button></a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Projet DPR</h5>
                <p class="card-text">Projet UE Données post-relationnel sur la construction d'un site de recette de cuisine en utilisant essentiellement du XML et ses dérivés tel que XPATH, XQUERY et autres.</p>
                <a href="https://github.com/FloFloDht/Projet-DPR" target="blank"><button type="button" class="btn btn-outline-secondary">GitHub Projet DPR</button></a>
            </div>
        </div>
    </div>
</section>

<br>

<a href="/cours"><button type="button" class="btn btn-outline-secondary">Retour</button></a>