<h2>Si vous souhaitez me contacter : </h2>

<!--
<div class="container mt-3">
    <form action="">
        <div class="form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
      <div class="mb-3 mt-3">
        <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  -->
