<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Anglais</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong> Non défini.</h5>
                <p><strong>Contact :</strong> Non défini</p>
                <p><strong>Plaquette UE : </strong> aucune.</p>
                <h6><strong>Organisation : </strong></h6>
                <p>Travaux dirigés : 18 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
            </section>
        </div>
    </div>
</section>