<div class="container">
    <h1>PHOTOS</h1>
    <div class="content">
      <a target="_blank" href="/assets/EFFECTS-1.jpg"><img src="/assets/EFFECTS-1.jpg" class="img-thumbnail" alt="couché de soleil" width="304" height="236"></a>
      <a target="_blank" href="/assets/background-image.jpg"><img src="/assets/background-image.jpg" class="img-thumbnail" alt="alpilles" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando1.jpg"><img src="/assets/rando1.jpg" class="img-thumbnail" alt="rando1" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando2.jpg"><img src="/assets/rando2.jpg" class="img-thumbnail" alt="rando2" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando3.jpg"><img src="/assets/rando3.jpg" class="img-thumbnail" alt="rando3" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando4.jpg"><img src="/assets/rando4.jpg" class="img-thumbnail" alt="rando4" width="304" height="236"></a>
      <a target="_blank" href="/assets/IMG_20201110_165457_Bokeh_edited.jpg"><img src="/assets/IMG_20201110_165457_Bokeh_edited.jpg" class="img-thumbnail" alt="plante bokeh" width="304" height="236"></a>
    </div>            
</div>


<!-- responsive gallery

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_5terre.jpg">
      <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="img_forest.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="img_mountains.jpg">
      <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div>

<div class="clearfix"></div> -->
