<div class="container">
    <h1>PHOTOS</h1>
    <h6>Photos prisent avec mon OnePlus 5. Certaines peuvent être retravailler avec Photoshop ou Lightroom.</h6>
    <br>
    <div class="content">
      <a target="_blank" href="/assets/EFFECTS-1.jpg"><img src="/assets/EFFECTS-1.jpg" class="img-thumbnail" alt="couché de soleil" width="304" height="236"></a>
      <a target="_blank" href="/assets/background-image.jpg"><img src="/assets/background-image.jpg" class="img-thumbnail" alt="alpilles" width="304" height="236"></a>
      <br>
      <a target="_blank" href="/assets/rando2.jpg"><img src="/assets/rando2.jpg" class="img-thumbnail" alt="rando2" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando3.jpg"><img src="/assets/rando3.jpg" class="img-thumbnail" alt="rando3" width="304" height="236"></a>
      <br>
      <a target="_blank" href="/assets/rando1.jpg"><img src="/assets/rando1.jpg" class="img-thumbnail" alt="rando1" width="304" height="236"></a>
      <a target="_blank" href="/assets/rando4.jpg"><img src="/assets/rando4.jpg" class="img-thumbnail" alt="rando4" width="304" height="236"></a>
      <a target="_blank" href="/assets/IMG_20201110_165457_Bokeh_edited.jpg"><img src="/assets/IMG_20201110_165457_Bokeh_edited.jpg" class="img-thumbnail" alt="plante bokeh" width="304" height="236"></a>
    </div>            
</div>
<br>
