<div class="container-fluid">
  <h1>Florent Dhont</h1>
</div>

<nav class="navbar navbar-expand-sm bg-grey justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="projets">Mes projets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="aboutme">A propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="langue">EN/FR</a>
    </li>
  </ul>
</nav>

<div class="col-xs-12">
  <router-outlet></router-outlet>
</div>

