<h1 style="color: rgb(180, 43, 43);">En cours de construction !!!</h1>

<nav class="navbar navbar-expand-sm bg-dark justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <h2 routerLinkActive="active"><a routerLink="home">Acceuil</a></h2>
    </li>
    <li class="nav-item">
      <h2 routerLinkActive="active"><a routerLink="/cours">Etudes</a></h2>
    </li>
    <li class="nav-item">
      <h2 routerLinkActive="active"><a routerLink="/aboutme">About me</a></h2>
    </li>
    <li class="nav-item">
      <h2 routerLinkActive="active"><a routerLink="/photos">Photos</a></h2>
    </li>
  </ul>
</nav>

<div class="col-xs-12">
  <router-outlet></router-outlet>
</div>