h1{
    color: rgb(255, 253, 253);
}

div.border{
    border :  10px whitesmoke double;
    border-radius: 8px;
}

p{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}

h3{
    color : rgb(163, 161, 161);
}

h2{
    color: rgb(163, 161, 161);
}

.container-fluid{
    background-image: url("/assets/texture-marbre-noir.jpg");
}