<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Communication</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Victor CEPOI / Yann VAXES</h5>
                <p><strong>Contact :</strong> victor.cepoi@univ-amu.fr / yann.vaxes@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M6-Algorithmique_et_recherche_operationnelle.pdf">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M6-Algorithmique_et_recherche_operationnelle.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 10 heures</p>
                <p>Travaux dirigés : 8 heures</p>
                <p>Travaux pratiques : 9 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
                <h5>Descriptif UE : </h5>
                <ul>
                    <li>Programmation linéaire. Notions et algorithmes de flots. </li>
                    <li>Applications (couplage, affectation, transport,…) </li>
                    <li>Programmation dynamique (sac à dos, ordonnancement,…) </li>
                    <li>Algorithmes à performance garantie Contenu en cours d'actualisation.</li>
                </ul>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ol class="liste">
                    <!-- <a href="/src/assets/POC_CM-1.pdf">CM 1</a> -->
                </ol>
                <h4>TD : </h4>
                <h4>TP : </h4>
            </section>
        </div>
    </div>
</section>