p{
    color: black;
    text-align: left;
}

a{
    color : black;
    text-align: left;
}

h3{
    color : black;
    text-align: left;
}
h2{
    color : black;
    text-align: left;
}

div.card{
    text-align: left;
}
h2{
    text-align: center;
}