<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Programmation Object Concurrente</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Remi MORIN</h5>
                <p><strong>Contact :</strong> remi.morin@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M4-Programmation_objet_concurrente.pdf" target="blank">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M4-Programmation_objet_concurrente.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 10 heures</p>
                <p>Travaux dirigés : 8 heures</p>
                <p>Travaux pratiques : 8 heures</p>
                <p><strong>Nombre de crédit :</strong> 3</p>
                <h5>Descriptif UE : </h5>
                <p>Depuis la généralisation des architectures multi-cœurs, la programmation parallèle est devenue incontournable pour développer des applications exploitant pleinement les capacités de traitement offertes par les ordinateurs actuels. Elle est aussi un moyen de simplifier la structure du logiciel en l'organisant sous la forme de tâches distinctes qui interagissent entre elles afin de répondre aux requêtes de l'utilisateur (ou de l'environnement).</p>

                <p>Cette UE présente aux étudiants du M1 les principales difficultés de la programmation multi-thread et les techniques classiques permettant de développer un code correct et performant. Tout d'abord, les instructions de base liées à la classe Thread en Java sont introduites avec les concepts sous-jacents de verrou et de variable de condition. L'effet de ces instructions sur l'état d'un thread est illustré sur des exemples simples s'appuyant sur des diagrammes de séquence. Les notions d'indépendance et d'atomicité permettent ensuite de spécifier précisément les problèmes classiques de synchronisation en séparant le besoin d'exclusion mutuelle des contraintes d'attente particulières. L'approche recommandée pour débuter est celle de la conception et de la programmation de moniteurs (à la Hoare), étudiée sur plusieurs exemples classiques.</p>
                    
                <p>Les outils dédiés à la programmation parallèle en Java sont également présentés en cours et exploités en Travaux Pratiques : locks divers, pools de threads, collections synchronisées ou concurrentes, objets atomiques, etc. Les difficultés propres à la programmation sans verrou sont illustrées par la construction de structures de données simples et de verrous performants.</p>
                    
                <p>Enfin, un aperçu du modèle mémoire Java permet d'initier les étudiants à la notion de programme « bien synchronisé » et aux risques d'exécutions inconsistantes séquentiellement du fait des optimisations de codes réalisées lors de la compilation ou de l'exécution.</p>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ul class="liste">
                    <li><a href="/assets/Cours/POC/POC_CM-1.pdf" target="blank">POC_CM-1.pdf</a></li>
                    <li><a href="/assets/Cours/POC/POC_CM-2.pdf" target="blank">POC_CM-2.pdf</a></li>
                    <li><a href="/assets/Cours/POC/POC_CM-3.pdf" target="blank">POC_CM-3.pdf</a></li>
                    <li><a href="/assets/Cours/POC/POC_CM-4.pdf" target="blank">POC_CM-4.pdf</a></li>
                    <li><a href="/assets/Cours/POC/POC_CM-5.pdf" target="blank">POC_CM-5.pdf</a></li>
                </ul>
                <h4>TD (archives complètes) : </h4>
                <ul>
                    <li><a href="assets/Cours/POC/TD1.zip" target="blank">TD1.zip</a></li>
                    <li><a href="assets/Cours/POC/TD2.zip" target="blank">TD2.zip</a></li>
                    <li><a href="assets/Cours/POC/TD3.zip" target="blank">TD3.zip</a></li>
                    <li><a href="assets/Cours/POC/TD4.zip" target="blank">TD4.zip</a></li>
                </ul>
                <h4>TP (archives complètes) : </h4>
                <ul>
                    <li><a href="assets/Cours/POC/TP_A.zip" target="blank">TP_A.zip</a></li>
                    <li><a href="assets/Cours/POC/TP_B.zip" target="blank">TP_B.zip</a></li>
                    <li><a href="assets/Cours/POC/TP_C.zip" target="blank">TP_C.zip</a></li>
                    <li><a href="assets/Cours/POC/TP_D.zip" target="blank">TP_D.zip</a></li>
                    <li><a href="assets/Cours/POC/TP_E.zip" target="blank">TP_E.zip</a></li>
                </ul>
                <h4>Sujet Examen 2020 : </h4>
                <ul>
                    <li><a href="/assets/Cours/POC/-_Examen_POC_1ere_session.pdf" target="blank">Examen_POC_1ere_session.pdf</a></li>
                </ul>
            </section>
        </div>
    </div>
</section>