<section>
    <div class="card">
        <!-- faire un bouton de retour ici -->
        <div class="card-body">
            <h2>Réseaux</h2>
        <br>
            <section>
                <h5><strong>Responsable UE : </strong>Djamal HABET / Emmanuel GODARD</h5>
                <p><strong>Contact :</strong> djamal.habet@univ-amu.fr /emmanuel.godard@univ-amu.fr</p>
                <p><strong>Plaquette UE : </strong><a href="https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M5-Reseaux.pdf" target="blank">
                    https://formations.univ-amu.fr/plaquettes/SCS/ME5SIN-Master_Informatique/enseignements/S51IN1M5-Reseaux.pdf</a></p>
                <h6><strong>Organisation : </strong></h6>
                <p>Cours magistraux : 12 heures</p>
                <p>Travaux dirigés : 12 heures</p>
                <p>Travaux pratiques : 14 heures</p>
                <p><strong>Nombre de crédit :</strong> 4 </p>
                <h5>Descriptif UE : </h5>
                <p>Architecture en couches, standard OSI Couche physique Couche liaison de Données Réseau IP Algorithmes de routage, 
                    routage IP Protocole TCP/IP Couche Application : HTTP, SMTP, FTP,… Bases des protocoles cryptographiques (terminologie, architecture à clef publique). 
                    Introduction à la Sécurité des réseaux. Contenu en cours d'actualisation .</p>
            </section>
            <section>
                <h3>Contenu : </h3>
                <h4>Cours : </h4>
                <ol class="liste">
                    <!-- <a href="/src/assets/POC_CM-1.pdf">CM 1</a> -->
                </ol>
                <h4>TD : </h4>
                <h4>TP : </h4>
            </section>
        </div>
    </div>
</section>