body{
    background-color: black;
    text-align: center;
}
a:link{
    text-decoration: none;
    color: aliceblue;
}

a:visited{
    text-decoration: underline;
    color: aliceblue;
}

a:hover{
    color: aliceblue;
    text-decoration: underline;
}

div.border{
    border :  10px whitesmoke double;
    border-radius: 8px;
}

li{
    color: white;
}

p{
    color: white;
    text-align: center;
}

footer{
    text-align: center;
}

h3{
    color : rgb(163, 161, 161);
}

h2{
    color: rgb(163, 161, 161);
}

h1{
    color: rgb(163, 161, 161);
}

