<h2>Liste des cours du Master 1 informatique à Aix-Marseille Université : </h2>
<p><a href="https://formations.univ-amu.fr/ME5SIN.html">Aix-Marseille Université</a></p>
<br>

<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Semestre 1</h3>
        <p>Programmation Objet Concurentte</p>
        <p>Algorithme et recherche opéationnelle</p>
        <p>Complexité</p>
        <p>Génie Logiciel</p>
        <p>ERDI</p>
        <p>Introduction sciences des données</p>
        <p>Réseaux</p>
        <p>Anglais</p>
      </div>

      <div class="col-sm-4">
        <h3>Semestre 2</h3>
        <p>Fiabipté Logiciel</p>
        <p>Données Post-Relationnel</p>
        <p>Cryptographie</p>
        <p>Communication</p>
        <p>Interface Homme-Machine</p>
        <p>Sécurité apppcations</p>
        <p>architecture JEE</p>
        <p>Intégration des données</p>
        <p>Stage ou TER</p>
      </div>
  </div>
