<h1>Cours Master 1 informatique : </h1>
<p><a href="https://formations.univ-amu.fr/ME5SIN.html">Page de l'université ici.</a></p>
<br>
<h3>Page qui va regrouper les cours de mon Master 1 </h3>
<br>
<h3>Liste des cours durant le Master</h3>

<h4>Semestre 1 :</h4>
<ul class="nav navbar-nav">
    <li>Programmation Objet Concurentte</li>
    <li>Algorithme et recherche opéationnelle</li>
    <li>Complexité</li>
    <li>Génie Logiciel</li>
    <li>ERDI</li>
    <li>Introduction sciences des données</li>
    <li>Réseaux</li>
    <li>Anglais</li>
</ul>
<h4>Semestre 2 :</h4>
<ul class="nav navbar-nav">
    <li>FL</li>
    <li>DPR</li>
    <li>Cryptographie</li>
    <li>Communication</li>
    <li>IHM</li>
    <li>Sécuroté applications</li>
    <li>architecture JEE</li>
</ul>
