<section>
  <div class="container">
    <div class="card bg-light text-dark text-center">
      <div class="card-body">
        <div class="image" style="position: unset;">
          <a routerLink="/cours"><img src="/assets/Etude-image.jpg" alt="Card image" style="float: left; width:400px; height: 200px;"></a>
        </div>
        <div class="content" style="position: unset;">
          <h3><a routerLink="/cours">ETUDES</a></h3>
          <p>Liste des cours du M1 informatique <br>Semestre 1 et Semestre 2</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="card bg-light text-dark text-center">
      <div class="card-body">
        <div class="image" style="position: unset;">
          <a routerLink="/photos"><img src="/assets/EFFECTS-1.jpg" alt="Card image" style="float: left; width:400px ; height: 200px;"></a>
        </div>
        <div class="content" style="position: unset;">
          <h3><a routerLink="/photos">PHOTOS</a></h3>
          <p>Passioné de photos de paysages, vous y trouverez ici mes photos.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="card bg-light text-dark text-center">
      <div class="card-body">
        <div class="image" style="position: unset;">
          <a routerLink="/aboutme"><img src="/assets/homme-image.png" alt="Card image" style="float: left; width:400px; height: 200px;"></a>
        </div>
        <div class="content" style="position: unset;">
          <h3><a routerLink="/aboutme">A PROPOS</a></h3>     
          <p>Qui suis-je ? Mon CV. Mes projets perso.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<div class="container">
  <a style="margin-right: 10%;" href="https://github.com/FloFloDht"><img src="../../assets/GitHub-Mark.png" alt= "logoGitHub" width="35" height="35" ></a>
  <a style="margin-right: 10%; margin-left: 10%;"href="https://www.linkedin.com/in/florent-dhont-8b2424153/"><img src="../../assets/LinkedIn.png" alt= "logoLinkedin" width="40" height="40"></a>
  <a style="margin-left: 10%; margin-right: 10%;"href="https://www.instagram.com/florentdht/?hl=fr"><img src="../../assets/logoInsta.png" alt= "logoInstagram" width="35" height="35"></a>
  <a style="margin-left: 10%;"href="https://www.strava.com/athletes/51567141"><img src="../../assets/strava.png" alt= "logoInstagram" width="30" height="30"></a>
  <br>
</div>

<br>

<div class="container">
  <footer>
    <p>N'hésitez pas à me contacter.</p>
    <p> Florent Dhont - 2021 © </p>
  </footer>
</div>