<div style="text-align:center">
    <h1>Bienvenue sur mon site web </h1>
</div>

<div class="Description">
    <p>Je m'appelle Florent Dhont, j'ai 22 ans, je suis en Master 1 informatique à Aix-Marseille Université.</p>
    <p>Vous y trouverez ici la liste complète de mes cours durant le Master 1, ainsi que mes projets réaliser durant cette année,
        mais aussi durant les années precédentes, ainsi que mon CV.</p>
</div>


<ul style="text-align: center;">
    <p><a href="https://www.instagram.com/?hl=fr">Instagram</a></p>
    <p><a href="https://github.com/FloFloDht">GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/florent-dhont-8b2424153/">LinkedIn</a></p>
    <p><a href="https://www.strava.com/athletes/51567141">Strava</a></p>
</ul>