<div class="container p-3 my-3  text-white">
    <h1>Bienvenue sur mon site web </h1>
    <p>Je m'appelle Florent Dhont, j'ai 22 ans, je suis en Master 1 informatique à Aix-Marseille Université.</p>
    <p>Ici sera déposé le contenu des cours du Master 1, mes projets réalisés, ainsi que mon CV.</p> 
</div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><a routerLink="/cours">Cours</a></h3>
        <p>Liste des cours suivis pendant le Master 1</p>
        <p>Semestre 1 et Semestre 2</p>
      </div>
      <div class="col-sm-4">
        <h3><a routerLink="/projets">Projets</a></h3>
        <p>Projets réaliser pour les cours</p>
        <p>Mettre ou pas une description de la page ou alors mettre une image </p>
      </div>
      <div class="col-sm-4">
        <h3><a routerLink="/cv">CV</a></h3>        
        <p>Retrouvez ici mon CV personnel.</p>
      </div>
    </div>
  </div>

<br>

<a style="margin-right: 10%;" href="https://github.com/FloFloDht"><img src="../../assets/GitHub-Mark.png" alt= "logoGitHub" width="35" height="35" ></a>
<a style="margin-right: 10%; margin-left: 10%;"href="https://www.linkedin.com/in/florent-dhont-8b2424153/"><img src="../../assets/LinkedIn.png" alt= "logoLinkedin" width="40" height="40"></a>
<a style="margin-left: 10%; margin-right: 10%;"href="https://www.instagram.com/florentdht/?hl=fr"><img src="../../assets/logoInsta.png" alt= "logoInstagram" width="35" height="35"></a>
<a style="margin-left: 10%;"href="https://www.strava.com/athletes/51567141"><img src="../../assets/strava.png" alt= "logoInstagram" width="35" height="35"></a>
<br>

<footer>
  <p>____________________</p>
  <p> /Florent Dhont 2021 ©/ </p>
</footer>